.circle-i{
    border-radius:50%;
    background: #2C93FB;
    opacity: 36%;
    width: 86px;
    height: 86px;
    position: absolute;
    bottom: 142px;
    left: 164px;
}

.circle-ii{
    width: 58px;
    height: 58px;
    background: #2C93FB;
    opacity: 36%;
    z-index: 1;
    border-radius:50%;
    position: absolute;
    bottom: 156px;
    left: 178px;
}

.circle-iii{
    background: #FB4C2C;
    border: 2px;
    width: 20px;
    height: 20px;
    z-index: 2;
    border-radius:50%;
    position: absolute;
    bottom: 175px;
    left: 197px;
}

.crosswalk{
    background: #232323;
    width: 414px;
    height: 186px;
    position: absolute;
    top: 434px;
    opacity: 10%;
}

.bar-1{
    width: 70px;
    height: 18px;
    opacity: 100%;
    border-radius: 5px;
    position: absolute;
    top: 464px;
    left: 172px;
    z-index: 10px;
    background:#232323;
}

.bar-2{
    width: 70px;
    height: 18px;
    opacity: 100%;
    border-radius: 5px;
    position: absolute;
    top: 500px;
    left: 172px;
    z-index: 10px;
    background:#232323;
}

.bar-3{
    width: 70px;
    height: 18px;
    opacity: 100%;
    border-radius: 5px;
    position: absolute;
    top: 536px;
    left: 172px;
    z-index: 10px;
    background:#232323;
}

.bar-4{
    width: 70px;
    height: 18px;
    opacity: 100%;
    border-radius: 5px;
    position: absolute;
    top: 572px;
    left: 172px;
    z-index: 10px;
    background:#232323;
}