.blue{
    background:#2C74FB;
}

.red{
    background:#FB4C2C;
}

.outer{
    width: 74px;
    height: 38px;
    border-radius: 19px;
    opacity:36%;
    background:#FB4C2C;
}

.inner{
    width: 33px;
    height: 16px;
    border-radius: 8px;
    opacity:100%;
    z-index: 1;
    background:#FB4C2C;
}