.ped {
  font-family: "roboto-bold";
  font-size: 28px;
  color: #232323;

  padding-top: 96px;
  padding-left: 26px;
}

.graybox {
  background: #f4f4f4;
  position: absolute;
  top: 172px;
  width: 414px;
  height: 724px;
}
