.App {
  text-align: center;
}

@font-face {
  font-family: "roboto-bold";
  src: url("./font/roboto-v27-latin-700");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("./font/roboto-v27-latin-regular.woff2");

  font-weight: normal;
  font-style: normal;
}

* {
  font-family: roboto-bold;
}

button {
  cursor: pointer;
}
