.App {
  text-align: center;
}

@font-face {
  font-family: "roboto-bold";
  src: url("./font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("./font/Roboto-Medium.ttf");
}

* {
  font-family: roboto-bold;
}

button {
  cursor: pointer;
}
