.title{
    position: relative;
    top: 96px;
    left: 26px;
    width: 142px;
    height: 74px;

    white-space: pre-wrap;
    font-family: "roboto-bold";
    font-size:28px;
    color: #232323;
}
